@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Pipe Trace Viewer</h1>
	<a asp-action="Viewer" class="btn btn-primary mt-2 w-25" target="_blank">Start</a>
</div>

