@{
	ViewData["Title"] = "Viewer";
}


<div class="d-flex .flex-row">
	@for (int j = 0; j < 8000; j++)
	{
		<div class="child border">
			1
		</div>
	}
</div>
<div class="d-flex .flex-row">
	@for (int j = 0; j < 8000; j++)
	{
		<div class="child border">
			2
		</div>
	}
</div>
