@model List<Record>
@{
	ViewData["Title"] = "Viewer";
}


<div class="row">
	<div class="row col-2">
		<div class="col-4 p-0">
			@foreach (Record rec in Model)
			{
				<div class="border text-center h-auto">
					@rec.id
				</div>
			}
		</div>
		<div class="col-8 p-0">
			@foreach (Record rec in Model)
			{
				<div class="border text-center">
					@rec.disassembly
				</div>
			}
		</div>
	</div>
	<div class="col-10 p-0">
		@foreach (Record rec in Model)
		{
		<div class="d-flex .flex-row">
			@for (int i = 0; i < rec.Events.First().StartCycle - 1; i++)
			{
				<div class="child border">

				</div>
			}
			@foreach (Event e in rec.Events)
			{

				@for (int i = 0; i < e.CycleCount; i++)
				{
					<div class="child border">
						@e.description[0]
					</div>
				}


			}

			@for (int j = 0; j < 10; j++)
			{
				<div class="child border">

				</div>
			}
		</div>
		}
	</div>
</div>


